<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KamalSweets"
        tools:targetApi="31">

        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight" />
        <activity
            android:name=".Activity.CategorySeeAllActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProductSeeAllActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OTPActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Activity.AddressActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight" />
        <activity
            android:name=".Activity.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_r4nFtFPvQDK1hn" />
    </application>

</manifest>
